# Python
backend/venv/
backend/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Version control and editor noise
.git/
.gitignore
**/.DS_Store
**/*.swp