DB_USERNAME="user"
DB_PASSWORD="password"
DB_HOST="host"
DB_PORT=1234
DB_NAME="database-name" 
SECRET_KEY="your-secret-key"
DATABASE_URL="postgresql://user:password@db:1234/database-name"
GOOGLE_CLIENT_ID="your-google-client-id"
